.cursor {
    position: fixed;
    background-image: url(cursor.png);
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    pointer-events: none;
}

.body {
    margin: 0;
    font-family: sans-serif;
    background: blanchedalmond;
}

.navbar{
    background-color: aliceblue;
    position: fixed;
    width: 100%;
}

.navbar-brand{
    width: 1000px;
    margin: 10px 50px 10px 10px;
    display: flex;
    }

.h1{
    padding-top: 10px;
    display: flex;
    justify-items: center;
    align-items: center;

}

.container{
    padding: 120px 70px;
    width: 800px;
}
.carouselExampleFade1 {
    display: flex;
    justify-items: center;
    align-items: center;
}

.container2{
    padding: 10px 30vh;
   
}

.carouselExampleFade2 {
    display: flex;
    justify-items: center;
    align-items: center;
}
.carouselExampleFade3 {
    display: flex;
    justify-items: center;
    align-items: center;
}



.footer-content {
        padding: 20px;
        background-color:aliceblue;
        height: 60px;
        text-align: center;
    }